#login-container {
    overflow: hidden;
}

.bgvideo {
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    overflow: hidden;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    min-width: 100vw;
    min-width: calc(var(--vw, 1vw) * 100);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    z-index: -9999;
}

.login_logo {
    height: 50vh;
    text-align: center;
}

#login-card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 10;
}

.login__back {
    width: 1046px;
    height: 432px;
}

.login-card-body {
    align-self: center;
    height: 50vh;
}

.login__login {
    position: absolute;
    width: 355px;
    height: 94px;
    left: 600px;
    top: 200px;
}

.game-button:hover {
    filter: contrast(1.5);
    cursor: pointer;
}

#login-form {
    position: relative;
    transform-origin: 50% 0;
}

#login-form input {
    position: absolute;
    resize: none;
    border: none;
    width: 440px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    outline: none;
    color: #22DF8E;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#login-form-username {
    left: 100px;
    top: 108px;
}

#login-form-password {
    left: 100px;
    top: 225px;
}

.login__check {
    position: absolute;
    cursor: pointer;
    width: 29px;
    height: 30px;
    left: 687px;
    top: 115px;
}
